# Test v3

##### Exemplu de date mai jos pentru ex. 2:

"   

10 mancare animale PapaBun 100 21%

11 animal companie Papagal 24 8%

12 gratar romanesc OptiGrill 111 2%

13 telefoane chinezesti Huawei 8

14 litiu neprelucrat Battery 3 100%

15 mancare animale PapaRau 1000 100%

"

In [ ]:
#exercitiul 1

T1 = tuple(int(x) for x in input().split())
T2 = tuple(int(x) for x in input().split())
s = set(T1) & set(T2)
s = sorted(list(s), reverse = True)
[print(x, end = " ") for x in s if x>=0]
print()
T = tuple([x for x in T1 if x>=0])
print(T);
print(list(zip(T1, T2)))

In [ ]:
#exercitiul 2

#subpunctul a)

f = open("date3.txt")

ls = [i.split(", ") for i in[y.strip() for y in f.readlines()]]
d = {lista[1]:{} for lista in ls}
for i in ls:
    a = d[i[1]].get(i[2], [])
    c = i[3:]
    c.insert(0, i[0])
    a.append(c)
    d[i[1]][i[2]] = a

f.close()
print(d)
#subpunctul b)

def calcul_discount(ls):
    pret = float(ls[2][:len(ls[2])-4])
    if len(ls) == 4:
        return pret - pret * int(ls[3][:len(ls[3]) - 1]) / 100
    return pret

for categorie in d:
    print(f"{categorie}:", end=" ")
    for subcategorie in d[categorie]:
        print(" ".join(min(d[categorie][subcategorie], key = calcul_discount)))
#subpunctul c)

def adaugare_discount(lista, dictionar, d):
    for i in lista:
        for sub in dictionar[i]:
            for ls in dictionar[i][sub]:
                if len(ls) == 4:
                    ls[3] = str(d) + '%'
                else:
                    ls.append(str(d)+'%')

adaugare_discount(['bacanie'], d, 37)
print(d)
#subpunctul d)
import re
def discount_mediu(sir):
    return sum([int(x[:len(x)-1]) for x in re.findall('[0-9]+%', open(sir).read())])/len(re.findall('[0-9]+%', open(sir).read()))
print(discount_mediu("date3.txt"))

{'bacanie': {'lactate': [['12A3', 'cascaval Napolact 25g', '15.90 RON', '20%'], ['834A', 'branza cu mucegai Bavaria 150g', '15.90 RON']], 'mezeluri': [['894B', 'salam Rustika 500g', '45.90 RON', '15%']], 'mirodenii': [['98TG', 'cafea macinata Jacobs 500g', '32.99 RON'], ['67DF', 'set 10 capsule ceai verde', '16.90 RON']], 'dulciuri': [['98AF', 'baton Snickers 8x50g', '23.99 RON'], ['AJ67', 'praline cu crema de menta Midnight 200g', '16.90 RON', '10%']]}, 'fashion': {'incaltaminte': [['12AB', 'pantofi sport MirageSportTech', '239.00 RON', '30%']], 'imbracaminte': [['13F7', 'tricou de bumbac Puma cu imprimeu logo essential', '74.99 RON', '25%']]}}
bacanie: 12A3 cascaval Napolact 25g 15.90 RON 20%
894B salam Rustika 500g 45.90 RON 15%
67DF set 10 capsule ceai verde 16.90 RON
AJ67 praline cu crema de menta Midnight 200g 16.90 RON 10%
fashion: 12AB pantofi sport MirageSportTech 239.00 RON 30%
13F7 tricou de bumbac Puma cu imprimeu logo essential 74.99 RON 25%
{'bacanie': {'lactate': [['12A3', 'cascaval Napolact 25g', '15.90 RON', '37%'], ['834A', 'branza cu mucegai Bavaria 150g', '15.90 RON', '37%']], 'mezeluri': [['894B', 'salam Rustika 500g', '45.90 RON', '37%']], 'mirodenii': [['98TG', 'cafea macinata Jacobs 500g', '32.99 RON', '37%'], ['67DF', 'set 10 capsule ceai verde', '16.90 RON', '37%']], 'dulciuri': [['98AF', 'baton Snickers 8x50g', '23.99 RON', '37%'], ['AJ67', 'praline cu crema de menta Midnight 200g', '16.90 RON', '37%']]}, 'fashion': {'incaltaminte': [['12AB', 'pantofi sport MirageSportTech', '239.00 RON', '30%']], 'imbracaminte': [['13F7', 'tricou de bumbac Puma cu imprimeu logo essential', '74.99 RON', '25%']]}}
20.0

# Test v4

##### Exemplu de date mai jos pentru ex. 2:

"

f32 B109BEC BMW Z4 albastru

g73 NEINMATRICULAT dacia Logan alba

12j B123JUD VW Golf albastru

92q NEINMATRICULAT BMW M3 gri

45y CJ12IUB ford focus rosu

12m DB69CLD BMW Z4 verde

t74 TL235CUB fiat toro oranj

tu7 NEINMATRICULAT dacia Sandero
portocaliu

28k BZ48LAC subaru WRX negru

"

In [ ]:
#exercitiul 1
#12 -1 345 -1 2 3 -29
#-1 13 14 345 -1 17 345
s1 = set(int(x) for x in input().split())
s2 = set(int(x) for x in input().split())
ls = list(s1-s2)
print(ls)
ls1 = list(set(int(x) for x in s1 | s2 if x > 0))
print(sorted(ls1, key = lambda x: x%10, reverse = True), sep = ", ")
L1 = list(s1)
L2 = list(s2)
L = list(zip(L1, L2))
print(L)

12 -1 345 -1 2 3 -29
-1 13 14 345 -1 17 345
[2, 3, 12, -29]
[17, 345, 14, 3, 13, 2, 12]
[(2, 13), (3, 14), (-29, 17), (12, 345), (345, -1)]

In [ ]:
#exercitiul 2

#subpunctul a)

f = open("date4.txt")

d = {'INMATRICULAT': {}, 'NEINMATRICULAT': {}}
ls = [x.split(", ") for x in [y.strip() for y in f.readlines()]]
for i in ls:
    cheie = max(i[1], 'INMATRICULAT', key = len)
    a = d[cheie].get(i[2], [])
    c = i[3:]
    if len(cheie) != 14:
        c.append(i[1])
    c.insert(0, i[0])
    a.append(c)
    d[cheie][i[2]] = a
print(d)

f.close()

#subpunctul b)

for tip in d:
    print(tip)
    for marca in d[tip]:
        for masina in d[tip][marca]:
            if masina[2] == 'alb':
                if tip[0] == 'N':
                    print(masina[0], marca, masina[1], masina[2])
                else:
                    print(masina[0],masina[3], marca, masina[1], masina[2])
    print()

#subpuncul c)

def eliminare_numere(d, *s):
    for marca in d["INMATRICULAT"]:
        for masina in d['INMATRICULAT'][marca]:
            if masina[-1] in s:
                t = masina
                d['INMATRICULAT'][marca].remove(masina)
                a = d['NEINMATRICULAT'].get(marca, [])
                a.append(t[:3])
                d['NEINMATRICULAT'][marca] = a


eliminare_numere(d, "B 123 JUD", "CJ 12 IUB", "BZ 48 LAC")
print(d)

#subpunctul d)

import re

def masini_culoare(nume, culoare):
    return len(re.findall(" " + culoare + "[^a-z]", open(nume).read()))

masini_culoare("date4.txt", "alb")

{'INMATRICULAT': {'Toyota': [['UU1234AB', 'Corrola Sedan', 'albastru', 'B 125 TAE'], ['UA1234XY', 'Corrola Sedan', 'rosu', 'BC 12 ABC'], ['UA1234XZ', 'Corrola Touring Sports', 'negru', 'IS 129 ANA']], 'Volvo': [['XC1234DF', 'EX90', 'negru', 'VN 101 CPP'], ['AC12JKL6', 'S60', 'verde', 'AB 75 CPP']], 'Ford': [['PQ12KLS3', 'KA', 'gri', 'DJ 15 TEO'], ['MO1257JK', 'Puma', 'albastru', 'CJ 10 MIA'], ['MOASD57J', 'Kuga', 'alb', 'VS 11 CRI']]}, 'NEINMATRICULAT': {'Dacia': [['UU1234AM', 'Duster', 'alb'], ['UU1234AM', 'Lodgy', 'alb']], 'Volvo': [['AM1234BZ', 'EX90', 'gri']]}}
INMATRICULAT
MOASD57J VS 11 CRI Ford Kuga alb

NEINMATRICULAT
UU1234AM Dacia Duster alb
UU1234AM Dacia Lodgy alb

{'INMATRICULAT': {'Toyota': [['UU1234AB', 'Corrola Sedan', 'albastru', 'B 125 TAE'], ['UA1234XY', 'Corrola Sedan', 'rosu', 'BC 12 ABC'], ['UA1234XZ', 'Corrola Touring Sports', 'negru', 'IS 129 ANA']], 'Volvo': [['XC1234DF', 'EX90', 'negru', 'VN 101 CPP'], ['AC12JKL6', 'S60', 'verde', 'AB 75 CPP']], 'Ford': [['PQ12KLS3', 'KA', 'gri', 'DJ 15 TEO'], ['MO1257JK', 'Puma', 'albastru', 'CJ 10 MIA'], ['MOASD57J', 'Kuga', 'alb', 'VS 11 CRI']]}, 'NEINMATRICULAT': {'Dacia': [['UU1234AM', 'Duster', 'alb'], ['UU1234AM', 'Lodgy', 'alb']], 'Volvo': [['AM1234BZ', 'EX90', 'gri']]}}

3

In [ ]:
d = {"cola":[123], "sprite":[1000]}
d["fanta"] = 123
print(d)
a = d.get('sprite', [])
print(a.append(123))
print(a)

{'cola': [123], 'sprite': [1000], 'fanta': 123}
None
[1000, 123]